.hidden {
  display: none;
}

label {
  width: 50%;
}

.radio-button {
  margin:           5px;
  height:           40px;
  line-height:      40px;
  border-radius:    8px;
  background-color: #DDDDDD;
  text-align:       center;
  color:            #0099FF;
  font-size:        16px;
  font-family:      monospace;
}

.selected {
  background-color: #66CCFF;
  color:            white;
}
