logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
.metals/
.metals/metals.lock.db
.metals.log
.metals.sbt
.DS_Store
.bloop/bloop.settings.json
.bloop/root/bloop-bsp-clients-classes/
.bloop/root/bloop-internal-classes/
project/metals.sbt
project/.bloop/play-scala-app-build.json
.bloop/root-test.json
.bloop/root.json
ui/package.json
ui/package-lock.json
/RUNNING_PID
