<!--
<app-radio
  [valueOptions] = this.areaOptions.area
  (importValue)  = "showPref($event)"
></app-radio>

<div class="modal-pref" [@openClose]="isOpenPref ? 'open' :'closed' ">
  <div (click)="closePref()">×</div>
  <app-radio
    [valueOptions] = this.prefecture
    (importValue)  = "showCity($event)"
  ></app-radio>
</div>

<div class="modal-city" [@openClose]="isOpenCity ? 'open' :'closed' ">
  <div (click)="closeCity()">×</div>
  <app-radio
    [valueOptions] = this.municipality
    (importValue)  = "show($event)"
  ></app-radio>
</div>
-->
