.modal-pref {
  position:    fixed;
  z-index:     100;
  opacity:     0;
  top:         0px;
  background:  white;
}

.modal-city{
  position:    fixed;
  z-index:     100;
  opacity:     0;
  top:         0px;
  height:      100vh;
  background:  white;
}
