<div class="checkbox-group">
  <div class="checkbox-wrapper" *ngFor="let option of checkBoxOptions.checkBox; index as i" [class.full]="fulls.includes(i)">
    <div class="checkbox">
      <!--
        TODO: 下記inputはatomosとしてさらに切り分ける
      -->
      <label for="option{{i}}" >
        <input type="checkbox" value="{{option.number}}" id="option{{i}}" class="hidden">
          <div class="test" (click)="click($event)">
            {{option.value}}
          </div>
      </label>
    </div>
  </div>
</div>
