<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-field">

  <div class="form-field__mail">
    <label for="email">メールアドレス</label>
    <input id="email" name="email" type="email" [formControl]="email" />
    <ng-container *ngFor="let validation of validationMessages.email">
      <span *ngIf="email.hasError(validation.type) && (email.dirty || email.touched)">
        {{validation.message}}
      </span>
    </ng-container>
  </div>

  <div class="form-field__pass">
    <label for="password">パスワード</label>
    <input id="password" name="password" type="password" [formControl]="password" />
    <span *ngIf="password.errors?.required && (password.dirty || password.touched)">
      パスワードは必須項目です
    </span>
    <span *ngIf="password.errors?.minlength">
      パスワードは3文字以上入力してください
    </span>
  </div>

  <div class="form-field__submit">
    <input type="submit" value="ログイン" [disabled]="loginForm.invalid" />
  </div>
</form>

