.hidden {
  display: none;
}

.radio-group {
 display:         flex;
 flex-wrap:       wrap;
 justify-content: center;

 .radio-wrapper {
   width: 45%;
 }
 .full {
   width: 90%;
 }
}

.radio-item {
  margin:        5px;
  height:        40px;
  line-height:   40px;
  border:        solid 1px #66CCFF;
  border-radius: 5px;
  text-align:    center;
  color:         #0099FF;
  font-size:     16px;
  font-family:   monospace;
}

.selected {
  background-color: #66CCFF;
  color:            white;
}
