<div class="radio-area">
  <ng-container *ngFor="let areaOption of areaOptions; index as num">
    <app-radiobutton
      inputName      = area
      [valueOptions] = areaOption
      [index]        = num
      (eventValue)   = "showPref($event)"
    ></app-radiobutton>
    <!--
    <label>
      <input type="radio" name="area"
        [(ngModel)] = "selectedArea"
        [value]     = "area.url"
        [checked]   = "selectedArea == area.url"
        (change)    = "showPref(i, area.url)"
      >
      <div [class.selected]="selectedArea == area.url">
        {{area.value}}
      </div>
    </label>
    -->
  </ng-container>
</div>

<div class="radio-prefecture">
  <ng-container *ngFor="let prefOption of prefecture; index as num">
    <app-radiobutton
      inputName      = pref
      [valueOptions] = prefOption
      [index]        = num
      (eventValue)   = "showCity($event)"
    ></app-radiobutton>    
    <!--
    <label>
      <input type="radio" name="pref"
        [(ngModel)] = "selectedPref"
        [value]     = "pref.url"
        [checked]   = "selectedPref == pref.url"
        (change)    = "showCity(i, pref.url)"
      >
      <div [class.selected]="selectedPref == pref.url">
        {{pref.value}}
      </div>
    </label>
    -->
  </ng-container>
</div>

<div class="radio-municipality">
  <ng-container *ngFor="let cityOption of municipality; index as num">
    <app-radiobutton
      inputName      = city
      [valueOptions] = cityOption
      [index]        = num
      (eventValue)   = "test($event)"
    ></app-radiobutton>    
    <!--
    <label>
      <input type="radio" name="city"
        [(ngModel)] = "selectedCity"
        [value]     = "city.url"
        [checked]   = "selectedCity == city.url"
      >
      <div [class.selected]="selectedCity == city.url">
        {{city.value}}
      </div>
    </label>
    -->
  </ng-container>
</div>
