<div class="radio-area">
  <ng-container *ngFor="let areaOption of areaOptions; index as num">
    <app-radiobutton
      inputName      = area
      classs         = ""
      [valueOptions] = areaOption
      [index]        = num
      (eventValue)   = "showPref($event)"
    ></app-radiobutton>
  </ng-container>
</div>

<div class="radio-prefecture">
  <ng-container *ngFor="let prefOption of prefecture; index as num">
    <app-radiobutton
      inputName      = pref
      [valueOptions] = prefOption
      [index]        = num
      (eventValue)   = "showCity($event)"
    ></app-radiobutton>    
  </ng-container>
</div>

<div class="radio-municipality">
  <ng-container *ngFor="let cityOption of municipality; index as num">
    <app-radiobutton
      inputName      = city
      [valueOptions] = cityOption
      [index]        = num
      (eventValue)   = "test($event)"
    ></app-radiobutton>    
  </ng-container>
</div>
