<div class="radio-group">
  <ng-container *ngFor="let item of area; index as i">
    <label>
      <input type="radio" name="area" id= "{{item.value}}"
        [(ngModel)] = "selected"
        [value]     = "item.url"
        [checked]   = "selected == item.url"
        (change)    = "show(i, item.url)"
      >
      <div [class.selected]="selected == item.url">
        {{item.value}}
      </div>
    </label>
  </ng-container>
</div>

<div class="radio-prefecture">
  <ng-container *ngFor="let pref of prefecture; input as i">
    <label>
      <input type="radio" name="pref" id="{{pref.value}}"
        [(ngModel)] = "selected"
        [value]     = "pref.url"
        [checked]   = "selected == pref.url"
      >
      <div [class.selected]="selected == pref.url">
        {{pref.value}}
      </div>
    </label>
  </ng-container>
</div>
