<div class="radio-area">
  <ng-container *ngFor="let area of areaOptions; index as i">
    <label>
      <input type="radio" name="area"
        [(ngModel)] = "selectedArea"
        [value]     = "area.url"
        [checked]   = "selectedArea == area.url"
        (change)    = "showPref(i, area.url)"
      >
      <div [class.selected]="selectedArea == area.url">
        {{area.value}}
      </div>
    </label>
  </ng-container>
</div>

<div class="radio-prefecture">
  <ng-container *ngFor="let pref of prefecture; index as i">
    <label>
      <input type="radio" name="pref"
        [(ngModel)] = "selectedPref"
        [value]     = "pref.url"
        [checked]   = "selectedPref == pref.url"
        (change)    = "showCity(i, pref.url)"
      >
      <div [class.selected]="selectedPref == pref.url">
        {{pref.value}}
      </div>
    </label>
  </ng-container>
</div>

<div class="radio-municipality">
  <ng-container *ngFor="let city of municipality; index as i">
    <label>
      <input type="radio" name="city"
        [(ngModel)] = "selectedCity"
        [value]     = "city.url"
        [checked]   = "selectedCity == city.url"
      >
      <div [class.selected]="selectedCity == city.url">
        {{city.value}}
      </div>
    </label>
  </ng-container>
</div>
