<!--
<header class="header">
  <a routerLink="/api/auth/loginForm">
    <div class="auth-button">
      ログイン
    </div>
  </a>
  <a routerLink="/api/auth/signupForm">
    <div class="auth-button">
      会員登録
    </div>
  </a>
  <a routerLink="/api/auth/logoutForm">
    <div class="auth-button">
      ログアウト
    </div>
  </a>
</header>
<router-outlet></router-outlet>
-->
<app-checkbox
  [checkBoxOptions]=this.checkBoxOptions.checkBox
  fulls=[]
></app-checkbox>
<app-checkbox
  [checkBoxOptions]=this.checkBoxOptions.checkBox1
  fulls=[]
></app-checkbox>
